td.year {
  text-align: right;
  vertical-align: top;
}

td.year, td.left {
  padding-left: 40px;
}

td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.page_title_label {
  font-size: xx-large;
  font-weight: bold;
}

.page_title, .page_title_left, .page_title_right {
  vertical-align: middle;
  height: 200px;

  padding: 0px;
}

.page_title_left {
  background-image:url('/images/gabor10.png');
  width: 150px;
}

.page_title_right {
  background-image:url('/images/jobb3.png');
  width: 18px;
}

.page_title {
  text-align: middle;

  background-image:url('/images/bg7.png');
}

.title {
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
}

.page_footer, .page_footer_left, .page_footer_right {
  height: 53px;
  padding: 0px;
}

.page_footer {
  background-image:url('/images/lent.png');
}

.page_footer_left {
  background-image:url('/images/ljobb.png');
  width: 18px;
}

.page_footer_right {
  background-image:url('/images/lbal.png');
  width: 18px;
}

.menu {
  background-color: black;
}

.menu_item, .menu_item_active {
  padding-left: 10px;
  padding-right: 10px;
}

td.menu_item {
}

td.menu_item:hover {
}

td.menu_item_active {
}

a {
  text-decoration: none;
}

a.menu_item {
  color: white;
}

a.menu_item_active {
  color: gray;
}

