<h1>Önéletrajz</h1>

<h2>Személyes adatok</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="left">Teljes név</td>
  <td>Sinkovics Gábor András</td>
</tr>
<tr>
  <td class="left">Születési év</td>
  <td>1994</td>
</tr>
<tr>
  <td class="left">E-mail cím</td>
  <td>
<script type="text/javascript"><!--
var elscxxn = ['"','i','"','s','g','a','r','=','m','c','l','@','<',' ','/','e',':','l','a','i','v','=','s','c','c','s','s','v','b','@','a','r','a','.','"','l','b','i','a','i','o','o','o','n','i','u','k','t','o','.','>','i','e','r','f','>','o','<',' ','"','h','k','s','a','m','a','h','u','g','n','h','s'];var gwzoora = [8,46,42,22,16,51,4,41,9,29,47,55,68,35,69,43,15,37,45,28,61,7,40,63,36,30,64,27,18,21,38,20,17,31,48,12,52,57,1,62,60,14,19,24,11,33,59,13,53,65,71,23,5,54,6,49,26,0,2,34,3,25,39,70,44,10,32,67,50,58,66,56];var hxvpzcu= new Array();for(var i=0;i<gwzoora.length;i++){hxvpzcu[gwzoora[i]] = elscxxn[i]; }for(var i=0;i<hxvpzcu.length;i++){document.write(hxvpzcu[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>
  </td>
</tr>
</table>

<h2>Tanulmányok</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="year">2014</td>
  <td>
    Nemzetközi brácsa mesterkurzus<br />
    Hochschule für Musik und Theater, Lipcse, Németország<br />
    <b>Brácsatanár: Tatjana Masurenko</b>
  </td>
</tr>
<tr>
  <td class="year">2013 - 2014</td>
  <td>
    Richter János Zeneművészeti Szakközépiskola, Győr<br />
    Szakmai év brácsa tanulmányokra. <br />
    <b>Brácsatanár: Cziglényi Gábor</b>
  </td>
</tr>
<tr>
  <td class="year">2009 - 2013</td>
  <td>
    Bartók Béla Zeneművészeti Szakközépiskola és Gimnázium, Budapest<br />
    <b>Hegedűtanár: Rónaszéki Tamás</b> <br />
  </td>
</tr>
<tr>
  <td class="year">2012</td>
  <td>
    Vonós zenei  mesterkurzus, Budapest<br />
    <b>Hegedűtanár: Szászné Réger Judit</b>
  </td>
</tr>
<tr>
  <td class="year">2011</td>
  <td>
    Vonós zenei mesterkurzus, Kaposvár<br />
    <b>Hegedűtanár: Sós Natasa</b>
  </td>
</tr>
<tr>
  <td class="year">2010</td>
  <td>
    Vonós zenei mesterkurzus, Kaposvár<br />
    <b>Hegedűtanár: Sós Natasa</b>
  </td>
</tr>
<tr>
  <td class="year">2005 - 2009</td>
  <td>
    Járdányi Pál Zeneiskola, Budapest<br />
    <b>Hegedűtanár: Tardosné Jáni Judit</b>
  </td>
</tr>
<tr>
  <td class="year">2002 - 2005</td>
  <td>
    Hubay Jenő Music School, Budapest<br />
    <b>Hegedűtanár: Dr. Makláriné Baranyai Valéria</b>
  </td>
</tr>
</table>

<h2>Versenyeredmények</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="year">2014</td>
  <td>V. Országos Lukács Pál Brácsaverseny, Budapest,</td>
  <td>&nbsp;</td>
  <td>II. helyezés</td>
</tr>
<tr>
  <td class="year">2009</td>
  <td>II. Rados Dezső hegedű verseny, Budapest,</td>
  <td>&nbsp;</td>
  <td>II. helyezés</td>
</tr>
<tr>
  <td class="year">2006</td>
  <td>I. Rados Dezső hegedű verseny, Budapest,</td>
  <td>&nbsp;</td>
  <td>II. helyezés</td>
</tr>
</table>

<h2>Nyelvismeret</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="left">Magyar</td>
  <td>anyanyelv</td>
</tr>
<tr>
  <td class="left">Angol</td>
  <td>Közös Európai Referenciakeret, B2</td>
</tr>
<tr>
  <td class="left">Német</td>
  <td>Közös Európai Referenciakeret, B1</td>
</tr>
</table>

<p>&nbsp;</p>


