<h1>Lebenslauf</h1>

<h2>Personalien</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="left">Name</td>
  <td>Sinkovics, Gábor András</td>
</tr>
<tr>
  <td class="left">Geburtsjahr</td>
  <td>1994</td>
</tr>
<tr>
  <td class="left">E-mailadresse</td>
  <td>
<script type="text/javascript"><!--
var elscxxn = ['"','i','"','s','g','a','r','=','m','c','l','@','<',' ','/','e',':','l','a','i','v','=','s','c','c','s','s','v','b','@','a','r','a','.','"','l','b','i','a','i','o','o','o','n','i','u','k','t','o','.','>','i','e','r','f','>','o','<',' ','"','h','k','s','a','m','a','h','u','g','n','h','s'];var gwzoora = [8,46,42,22,16,51,4,41,9,29,47,55,68,35,69,43,15,37,45,28,61,7,40,63,36,30,64,27,18,21,38,20,17,31,48,12,52,57,1,62,60,14,19,24,11,33,59,13,53,65,71,23,5,54,6,49,26,0,2,34,3,25,39,70,44,10,32,67,50,58,66,56];var hxvpzcu= new Array();for(var i=0;i<gwzoora.length;i++){hxvpzcu[gwzoora[i]] = elscxxn[i]; }for(var i=0;i<hxvpzcu.length;i++){document.write(hxvpzcu[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>
  </td>
</tr>
</table>

<h2>Ausbildung</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="year">2014</td>
  <td>
    Internationalen Meisterkurs für Viola<br />
    Hochschule für Musik und Theater, Leipzig, Deutschland<br />
    <b>Bratsche Lehrer: Tatjana Masurenko</b>
  </td>
</tr>
<tr>
  <td class="year">2013 - 2014</td>
  <td>
    Richter János Fachmittelschule für Musik, Győr, Ungarn<br />
    Ergänzendes Jahr nach dem Abitur für Bratschenstudium.<br />
    <b>Bratsche Lehrer: Gábor Cziglényi</b>
  </td>
</tr>
<tr>
  <td class="year">2009 - 2013</td>
  <td>
    Bartók Béla Fachmittelschule für Musik, Budapest, Ungarn.<br />
    <b>Violine Lehrer: Tamás Rónaszéki</b> <br />
  </td>
</tr>
<tr>
  <td class="year">2012</td>
  <td>
    Meisterkurs für Violine, Budapest, Ungarn.<br />
    <b>Violine Lehrerin: Judit Szászné Réger</b>
  </td>
</tr>
<tr>
  <td class="year">2011</td>
  <td>
    Meisterkurs für Violine, Kaposvár, Ungarn.<br />
    <b>Violine Lehrerin: Natasa Sós</b>
  </td>
</tr>
<tr>
  <td class="year">2010</td>
  <td>
    Meisterkurs für Violine, Kaposvár, Ungarn.<br />
    <b>Violine Lehrerin: Natasa Sós</b>
  </td>
</tr>
<tr>
  <td class="year">2005 - 2009</td>
  <td>
    Járdányi Pál Musikschule, Budapest, Ungarn.<br />
    <b>Violine Lehrerin: Judit Tardosné Jáni</b>
  </td>
</tr>
<tr>
  <td class="year">2002 - 2005</td>
  <td>
    Hubay Jenő Musikschule, Budapest, Ungarn.<br />
    <b>Violine Lehrerin: Valéria Makláriné Baranyai</b>
  </td>
</tr>
</table>

<h2>Wettbewerbserfolge</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="year">2014</td>
  <td>V. Pál Lukács Natzionaler Violawettbewerb, Budapest, Ungarn,</td>
  <td>&nbsp;</td>
  <td>II. Platz</td>
</tr>
<tr>
  <td class="year">2009</td>
  <td>II. Rados Dezső Violinwettbewerb, Budapest, Ungarn,</td>
  <td>&nbsp;</td>
  <td>II. Platz</td>
</tr>
<tr>
  <td class="year">2006</td>
  <td>I. Rados Dezső Violinwettbewerb, Budapest, Ungarn,</td>
  <td>&nbsp;</td>
  <td>II. Platz</td>
</tr>
</table>

<h2>Sprachkenntnisse</h2>

<table cellpadding="0" cellspacing="0" border="0">
<tr>
  <td class="left">Ungarisch</td>
  <td>Muttersprache</td>
</tr>
<tr>
  <td class="left">Englisch</td>
  <td>Gemeinsamer Europäischer Referenzrahmen, Niveau B2</td>
</tr>
<tr>
  <td class="left">Deutsch</td>
  <td>Gemeinsamer Europäischer Referenzrahmen, Niveau B1</td>
</tr>
</table>

<p>&nbsp;</p>

